@import url("https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css");

/*.hi{
    margin-left: 10ch;
}
.tooltip{
    margin-left: 65ch;
}
.display_none{
    display: none;
}
.Main{
    margin-left: 10ch;
}
.guidelinesdiv{
    margin-left: 3ch;
    margin-right: 1ch;
    margin-top: 2ch;
    border-style: solid;
    border-color: rgb(31, 31, 85);
    background-color: rgb(176, 209, 223);
}
.maincontent{
    margin-left: 2ch;
    margin-right: 1ch;
    color: rgb(31, 31, 85);
}
.subheading{
    font-style:normal;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.instructions{
    margin-left: 3ch;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.sample{
    color:rgb(168, 113, 60);
    margin-left: 10ch;
    height:150px;
    width:200px;

}*/
.bulletpoints_content{
    background-color: rgb(222, 231, 233);
    height: auto;
    width: 78%;
    margin:3ch;
    padding:1ch;
    color: darkblue;
    font-size: 18px;
}
.bullets{
    background-color:rgb(222, 231, 233) ;
    margin-left: 3ch;
    margin-top:1ch;
    margin-bottom: 1ch;
    margin-right: 1ch;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.gui{
    margin-left: 10ch;
}

#mynetwork {
    width: 600px;
    height: 400px;
    border: 1px solid lightgray;
  }
.graph{
    margin-left: 400px;
}
#svgcontainer{
    margin-left: 260px;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }

  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  div.tooltip {
        position: absolute;
        z-index: 0;
        width: auto;
        height: auto;
        padding: 2px;
        background: #ffff99;
        border: solid 1px #aaa;
        border-radius: 8px;
  }
