.hi{
    margin-left: 10ch;
}
.downloaddiv{
    margin-left: 30ch;
    width: 900px;
    border: navy;
    border-radius: 0.3;
    margin-top: 2ch;
    border-style:solid;
    margin-right: 3ch;
}
.divheading{
    background-color: rgb(36, 36, 78);
    color: white;
    font-size: 15px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.tableinfiles{
background-color: white;
}
.tableheader{
    color: rgb(35, 35, 83);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.filedownload{
    margin-left: 15ch;
}