.main_div{
    background-color: white;
    margin-left: 6ch;
    margin-right: 3ch;
    position: fixed;
    width: 95%;
    margin-top: 3ch;


}
.main_div_shrink{
    margin-left: 265px;
    margin-right: 3ch;
    /* position: fixed; */
    width: 81%;
    margin-top: 3ch;
    overflow: scroll;
    height:680px;
}
.form{
    height: 25%;
    width: 45%;
    background-color:rgb(183, 185, 209);}
 .form_body_main_submit{
     width: 250px;
 } 

    

    
.input_form{
    height: auto;
    width: 45%;
    /* background-color:rgb(183, 185, 209); */
    background-color: rgb(237, 244, 198);
    border: 1px solid black;
    border-radius: 1ch;
}
.form_heading1{
    width: 100%;
   /* background-color:rgb(8, 8, 87); */
   background-color: rgb(219, 174, 229);
    height: 25px;
    border-radius: 1ch;
   
}
.form_title1{
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    align-self: center;
}
.div_with_formand_filters{
   display:flex;
}
.entries_description{
    display: flex;
}
.entries_name{
    margin-top: 1ch;
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-style: italic;
    width: 500px;
    margin-left: 1ch;
    margin-bottom: 1ch;
}
.entries_name_gtcp{
    margin-top: 1ch;
    color: darkblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 13px;
    width: 900px;
    margin-left: 1ch;
    margin-bottom: 1ch;
    
}
.from{
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-style: italic;
    width:auto;
    font-weight: bold;
    margin-bottom: 1ch;  
    margin-top:0.5ch;
}
.fromto{
    height: 19px;
    margin-top: 0.5ch;
    font-size: 11px;
    margin-left: 2ch;
    width:50px;
    margin-right: 1ch;
}
.input{
    height: 19px;
    margin-top: 1ch;
    font-size: 11px;
    margin-left: 2ch;
    width: 400px;
    margin-right: 1ch;
    
}
.buttons_for_type{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
}
.button_for_type{
    background-color: rgb(59, 59, 97);
    color: white;
    font-size: 13px;
    margin-top: 1ch;
    margin-bottom: 1ch;
    border-radius: 0.3ch;
    margin-left: 1ch;
    margin-right: 1ch;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    
}
.button_for_submit_all{
    /* margin-bottom: 1ch;
    margin-top: 1ch;
    background-color: rgb(45, 26, 80);
    margin-left: 1ch;
    margin-right: 1ch;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    width:auto; */
    margin-bottom: 1ch;
    background-color: rgb(141, 224, 175);
    margin-left: 1ch;
    margin-right: 1ch;
    border-radius: 1.5ch;
    color:navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    padding:0.5ch;
    width:260px;
}
.button_for_type_selected{
    background-color: green;
    /*color: white;*/
    color: navy;
    font-size: 13px;
    margin-top: 1ch;
    margin-bottom: 1ch;
    border-radius: 0.3ch;
    margin-left: 1ch;
    margin-right: 1ch;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.filter_heading1{
    width: 100%;
    background-color: rgb(219, 174, 229);
    border-radius: 1ch;
    height: 25px;
   
}
.filters{
    height: 185px;
    width: 47%;
    margin-left: 10ch;
    background-color:rgb(94, 97, 133);

}
.support{
    height: 19px;
    margin-top: 1ch;
    font-size: 11px;
    margin-left: 2ch;
    width: 400px;
    margin-right: 1ch;

}
.support1{
    display: flex;
    height: 19px;
    margin-top: 1ch;
    font-size: 11px;
    margin-left: 2ch;
    width: 400px;
    margin-right: 1ch;

}
.support2{
    height:10px;
    width: 100px;
   
}
.display_none{
    display: none;
}
.table{

    margin-top: 1ch;
    margin-left: 0ch;
    width: 100%;

}
.table1{
    overflow: scroll;
     height: 350px;
    position:absolute;
    background-color:white;
    width: 100%;

}
.table4{
   /* overflow: scroll; */
    /* height: 350px; */
    /* position:absolute; */
    background-color:white;
    width: 100%;
}
.images_in_table{
    background-color:rgb(237, 244, 198);
      border-style: hidden;
      width: 100%;
      
      
}
tr{
    border: 1px solid #dddddd;

  }
  td{
      border-style: 5px solid #dddddd;
  }
  th{
     
      position: -webkit-sticky;
  position: sticky;
  top: 0;

  }
  .table_head1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: #bfcfd2;
   align-items: center;
   height:25px;
   

   
}
.odd_color{
    background-color: rgb(216, 208, 208);
    border-style: none;
}
.even_color{
    background-color: white;
    border-style: none;
}
.graphs_display{
    display: grid;
    grid-template-columns: repeat(6, minmax(150px, 1fr));
    grid-gap: 3px;
}

.graphs_display1{
    display: grid;
    grid-template-columns: repeat(6,minmax(150px,1fr));
    grid-gap: 3px;
}
.graphs_display2{
    display: grid;
    grid-template-columns: repeat(6, minmax(150px, 1fr));
    grid-gap: 3px;
}

.freq{
    align-content: center;
    font-family:cursive;
    color: rgb(28, 28, 153);
    cursor: pointer;
    font-weight: 700;
    background-color:rgb(216, 208, 208);
    
}
.gtcpfreq{
    align-content: center;
    font-family:cursive;
    color: rgb(28, 28, 153);
    cursor: pointer;
    font-weight: 700;
    height: inherit;
    background-color: rgb(193, 215, 229);
    text-align: center;
    font-size: 15px;
}

.image{
    width: 100%;
    height: 100%;
    margin-left: 3ch;
    cursor: pointer;
}

.image1{
    width: auto;
    height: auto;
    cursor: pointer;

}
.table_graph_div{
    /*display: grid;
    grid-template-columns: repeat(6,minmax(250px,1fr));
    grid-gap: 3px;*/
    width:auto;
	display: flex;
	min-height: 100px;
	align-items: center;
    
}

.modal{
    /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     padding-top: 100px; /* Location of the box */
     left: 0;
     top: 0;
     width: 50%; /* Full width */
     height: 50%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
    
     
     
   }
   .def_modal_content_dataset{
    background-color: #fefefe;
    margin-left: 235px;
    border: 1px solid #888;
    width: 70%;
   }
   .def_modal_content_dataset_structure{
    background-color: #fefefe;
    margin-left: 235px;
    border: 1px solid #888;
    width: 80%;
   }
   .modal-content2{
    background-color: #fefefe;
    margin-left: 235px;
    border: 1px solid #888;
    width: 80%;
}
   
   .modal-content_structure_of_interest{
    background-color: #fefefe;
    margin: auto;
    padding: 1ch;
    border: 1px solid #888;
    width: 80%;
    height: auto;
   
   }
   .close{
     color: #aaaaaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
     cursor: pointer;
     margin-top: 1ch;
     margin-bottom: 1ch;
     margin-left: 1ch;
     float: right;
     padding-right: 1ch;
   }
   .close_structure{
    float: right;
    cursor: pointer;
   }
   .modal_image{
       width: 600px;
       height:600px;
       cursor: pointer;
   }
   .modal_head{
       font-family: Georgia, 'Times New Roman', Times, serif;
       color:oldlace;
       font-variant: small-caps;
       font-size: 2ch;
       background-color:navy;
       
 
   }


   .active{
	opacity: 1;
}

#slide-wrapper{
	margin-top: 30px;
	width:auto;
	display: flex;
	min-height: 100px;
	align-items: center;
}

.slider{
	width: 1050px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x:hidden;

}

.slider::-webkit-scrollbar {
		width: 8px;

}


.slider::-webkit-scrollbar-thumb {
  background-color: #dede2e;
  outline: 1px solid slategrey;
   border-radius: 100px;

}

.slider::-webkit-scrollbar-thumb:hover{
    background-color: #18b5ce;

}

.arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}

#img-container{
	z-index: 1;
	max-width: 500px;
	position: relative;
}
.thumbnail{
	object-fit: cover;
	max-width: auto;
	max-height: 150px;
	cursor: pointer;
	margin: 5px;
	border: 2px solid navy;

}

.thumbnail:hover{
	opacity:1;
}
.iconcontext{
    color:navy;
}
.loader{
    margin-left: 50ch;
    margin-top: 5ch;
    color: navy;

}
.downloadoption{
    background-color: navy;
    color: white;
}
.propertiesofgraph{
    display: flex;
    color:navy;
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.table2{
   
    
         height: 330px;
         position:absolute;
         background-color:rgb(237, 244, 198);
         width: 100%;
         overflow-y: scroll;
         border-radius: 1ch;
}

.gtcp_table{
    overflow:scroll;
    width:1250px;
    align-items: center;
    align-content: center;
    
}
.gtcp_images{
    display: grid;
    grid-template-columns: auto;
    flex-wrap: wrap;
    overflow-y: scroll;
    height:500px;


}
.header{
    background-color: #90bac1;
    height:30px;
}
.a_gtcp_image{
    border: 1px solid black;
    margin-right: 1ch;
    margin-left: 2ch;
    margin-top: 1ch;
    height:360px;
    overflow-x: scroll;
    display: flex;
    text-align: center;
}
.gtcpdetails{
    background-color: rgb(193, 215, 229);
    display: flex;
    
   
}
.headergtcp{
    background-color: navy;
    height:25px;
}
.all_gtcp{
    border:1px solid black;
    margin-top: 2ch;
}
.image_gtcp{
    border-right: 1px solid;
}
.filters_coverage{
    height:130px;
    width: 85%;
    margin-left: 10ch;
    /* background-color:rgb(183, 185, 209); */
    background-color:rgb(237, 244, 198);
    border: 0.1px solid black;
    border-radius: 1ch;


}
.filters_fsg{
    height:100px;
    width: 85%;
    margin-left: 10ch;
    /* background-color:rgb(183, 185, 209); */
    background-color: rgb(237, 244, 198);
    border-radius: 1ch;
    border: 1px solid black;
}
.stats{
    height: auto;
    width: 85%;
    margin-left: 10ch;
    /* background-color: rgb(183,185,209); */
    background-color: rgb(237, 244, 198);
    margin-top: 3ch;
    border: 0.1px solid black;
    border-radius: 1ch;
}
.fsgstats{
    height: auto;
    width: 55%;
    margin-left:0ch;

}
.cpstats{
    height: auto;
    width:55%;
    margin-left: 0ch;
}
.image_support_heading{
    background-color: navy;
    font-size: 12px;
    color: white;
    width:50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.downloadbutton{
    height: auto;
    float: right;
    width: auto;
    margin-top: 0ch;
    font-size: 13px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    height: 3ch;

}
.downloadtext{
    margin-top: 0ch;
    font-size: 13px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-right: 2ch;
    float:right;
    transition: 0.4s;
    animation: glow 1s ease-in-out infinite alternate;
    text-shadow: 0 0 3vw white;
    

       
}
.scp_details{
    display: flex;
    margin-right: 1ch;

}
.detail_text{
    margin-top: 1ch;
    width:150px;
}
.image_freq{
    width: 250px;
    height: 250px;
}
.detail_value{
    margin-top: 1ch;
    margin-left: 1ch;
}
.image_table_data{
    text-align: center;
    display: flex;   
    height: auto;
}
.image_table_data_scp{
    text-align: center;
    display: flex;   
    margin: 2ch;
}
.image_table_data_string{
    margin: 2ch;
    height: auto;
    text-align: left;
    color: rgb(20, 20, 68);
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.cp_data{
    align-content: center;
    align-items: center;
    -ms-flex-align: center;
display: flex;
overflow: scroll;
    
    
}
.cp_data_string{
    align-content: center;
    align-items: center;
    -ms-flex-align: center;
    overflow: scroll;

}
.class_for_string{
    text-overflow: clip;
}
.download_icon{
    color: white;
    margin-left: 1ch;
   
}

.formControl{
    min-width: 120;
}
.flex{
    display: flex;
}
.checkkbox{
    
}
.wrap_text{
    display: flex;
    flex-wrap: wrap;
}
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }

  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  div.tooltip {
        position: absolute;
        width: auto;
        height: auto;
        padding: 2px;
        background: #ffff99;
        border: solid 1px #aaa;
        border-radius: 8px;
    }
   
    .vl{
        height:10px;
        background-color:navy;
    }
    .display_item_flex{
       display: grid;
       grid-template-columns: repeat(6,minmax(150px,1fr));
       grid-gap: 3px;
       margin: 1ch;
       border-style: solid;
        border-width: 0.1ch;
        border-color: black;

       
        
    }
    .box_si{
        border-width: 4px;
        margin:1ch;
    }
   
    .si_image_and_heading1{
        margin:1ch;
        width:auto;
        align-items: center;
        text-align: center;
        border-style: solid;
        border-width: 0.1ch;
        border-color: black;
        
    }
    
    .si_heading{
        background-color:rgb(182, 230, 222);
        padding:0.5ch;
        color:navy;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .si_main_heading{
        text-align: center;
        padding-left:1ch;
        padding-right:1ch;
        padding-top: 10ch;
        background-color: lightblue;
        align-items: center;
        color: navy;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .si_image{
        width:100%;
        height:100%;
       
    }
    .modal_head_si{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color:oldlace;
        font-variant: small-caps;
        font-size: 2ch;
        background-color:navy;
        margin-top:5ch;
        text-align: center;
    }
.or{
    margin-top: 1ch;
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 1ch;
}
.textarea{
    height: 250px;
    margin-left: 2ch;
    margin-top: 2ch;
}
.modal_head_structure{
    margin-top: 5ch;
    font-family: Georgia, 'Times New Roman', Times, serif;
       color:oldlace;
       font-variant: small-caps;
       font-size: 2ch;
       background-color:navy;
       text-align: center;
       margin-left: 1ch;
       margin-right: 1ch;
       margin-bottom: 1ch;
}

.align_table{
    align-content: center;
    text-align: center;
}
.si{
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-gap: 25px;
    margin-left: auto;
    margin-right: 2ch;
}
.image_div{
    width:400px;
    height:250px;
    border:1px solid navy; 
    margin-top:2ch;
  
}
.button_add_structure{
    width: auto;
    margin-top: 1ch;
    margin-left: 60ch;
    align-self: center;
    background-color: navy;
    margin-bottom: 1ch;
    padding:1ch;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.button_add_structure1{
    margin-top: 1ch;
    margin-left: 17ch;
    align-self: center;
    background-color: navy;
    margin-bottom: 1ch;
    padding:1ch;
    margin-right: 0ch;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.button_add_structure2{
    width: auto;
    margin-top: 1ch;
    align-self: center;
    background-color: navy;
    margin-bottom: 1ch;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.instructions_for_structure{
    border:2px solid black;
    margin-top: 2ch;
    margin-left: 2ch;
    height: 250px;
    width:400px;
    margin-right: 2ch;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.structure_ins{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 2ch;
    margin-top: 1ch;
}
.ins_head{
    background-color: navy;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.image_structure{
    width:100%;
    height:100%;
}
.out{
    align-items: center;
    align-content: center;
}
.button_for_submit_structure{
    margin-bottom: 1ch;
    background-color: rgb(213, 225, 233);
    margin-left: 1ch;
    margin-right: 1ch;
    border-radius: 1.5ch;
    color:navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    padding:0.5ch;
    width: 270px;
}
.modal_structure{
    position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     padding-top: 100px; /* Location of the box */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
    /* Black w/ opacity */
}
.point_graphs{
    width:145px;
    height: 130px;
    margin-top: 1ch;
    margin-left: 0.7ch;
    margin-bottom: 1ch;
    text-align: center;
    align-items: center;
    border: 0.3px solid grey;
    box-shadow: 0.1ch 0.1ch 0.1ch 0.001ch rgb(173, 173, 235);
    border-radius: 0.3ch;

}
.point_graphs_cp{
    
    margin-top: 1ch;
    margin-left: 0.7ch;
    margin-bottom: 1ch;
    text-align: center;
    align-items: center;
    border: 0.3px solid grey;
    box-shadow: 0.1ch 0.1ch 0.1ch 0.001ch rgb(173, 173, 235);
    border-radius: 0.3ch;
    display: flex;

}
.box_head{
    background-color: rgb(144, 211, 144);
    color:black;
    font-weight: bold;
    height:20px;
}
.image_in_freq{
    border: 1px solid black;
    cursor: pointer;
}
.display_flex{
    display:flex;
   
}
.subparts{
    margin-left: 1ch;
}
.horizontal{

    align-self: center;
}

.horizontal  *{

    display: inline-block;
    margin-left: 10px;
}
.subparts{
    margin-bottom: 0.6ch;
}
.smile_graph{
    height: auto;
    width:auto;
    cursor: pointer;

}
.gtcps_display{
    margin-bottom: 2ch;
    margin-top: 2ch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width:auto;
    height:auto;
    display: flex;

}
.interact_graph{
    width:500px;
    height: 500px;
    border-radius: 0.3ch;
    border-color:white;
    border-style: solid;
    margin-top: 1ch;
    margin-left: 1ch;
    margin-right: 1ch;
    
}
.heading_structure_of_interest{
    align-self: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: navy;
    color: #FFF;
    margin-top: 1ch;
    margin-left: 1ch;
    margin-right: 1ch;
    font-size: 25px;
}
.image_table_data_gtcp{
    margin: 0ch;
}