@import url("https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css");


div[id^="graph1_"]{
    width: 145px;
    height: 130px;
   
}
.popup {
    position: relative;
    display: block;
    background-color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
    



