.scp_main_div_shrink{
    margin-left: 280px;
}
.scp_main_div{
    margin-left: 75px;
}
.scp_heading{
    color:rgb(26, 26, 87);
    font-size: 1.8em;
    font-style: normal;
    font-family:'Linux Libertine','Georgia','Times',serif;
    font-weight: normal;
    align-items: center;
    margin-left: 20ch;
    margin-top: 1ch;
}
.scp_horizontal_line{
    margin-top: 0.5ch;
    /*margin-right: 25ch;
    margin-left: 15ch;*/
    margin-left: 18ch;
    width: 80ch;
    height: 4px;
    background-color: navy;
}
.first_para{
    margin-top: 2ch;
    color: black;
    font-size: calc(1em * 1.1);
    line-height: 1.6;
    font-family: sans-serif;
}
.scp_definition_heading{
    color:rgb(26, 26, 87);
    font-size: 1.3em;
    font-style: normal;
    font-family:'Linux Libertine','Georgia','Times',serif;
    margin-top: 1ch;
    font-weight: 500;

}
.scp_definition{
    margin-top: 0.5ch;
    color: black;
    font-size: calc(1em * 1.1);
    line-height: 1.6;
    font-family: sans-serif;
}
.scp_definition_text{
    margin-top: 0.5ch;
    color: black;
    font-size: calc(1em * 1.1);
    line-height: 1.6;
    font-family: sans-serif;
    width:1000px;
}
.example_image{
    width:80%;
    margin-left: 10ch;
    border-style:double;
    border-width: 0.2ch;
    border-color: black;
}
.example_image2{
    width:80%;
    margin-left: 10ch;
    border-style:double;
    border-width: 0.2ch;
    border-color: black;
}
.scp_content{
    margin-left: 265px;
    margin-top: 0ch;
    border-width: 1ch;
    height: 570px;
    width:1275px;
    position: relative;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox 64 */
    border-width: thick;
    background-color: white;
    margin-bottom: 15ch;
   

}
.scp_content_expand{
    margin-left: 50px;
    margin-top: 0ch;
    margin-right: 1ch;
    border-width: 1ch;
    height: 635px;
    width:1500px;
    position: relative;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox 64 */
    border-width: thick;
    background-color: white;
}
.image_name{
    margin-top: 0.5ch;
    color:rgb(26, 26, 87);
    font-size: 15px;
    line-height: 1.6;
    font-family: sans-serif;
    font-style: italic;
    margin-left: 25ch;
    
}
.tab1{
    tab-size: 32ch;
}
.text_and_image{
    display: flex;
}
.text_para{
    display: flex;
}

.box1{
    background-color: rgb(205, 214, 230);
    width:300px;
    border: black;
    border-radius: 0.3ch;
    border-width: 1px;
    border-style:ridge;
}
.dropdown_heading{
    color:rgb(26, 26, 87);
    font-size: 15px;
    margin-left:11ch;
    display: flex;
}
.show_hide{
    cursor: pointer;

}
.list_of_contents{
    margin-left: 10ch;
    color: rgb(26, 26, 87);
    font-size: 15px;
}