.navbar {
    height: 45px;
    display: flex;
    justify-content:left;
    align-items: center;
  }
  
  .menu-bars {
    font-size: 2rem;
    background: none;
  
  }
  
  .nav-menu {
    background-color:rgb(16, 19, 43);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    margin-top: 5%;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    background-color:rgb(16, 19, 43);
    margin-top: 11ch;
  }
  
  .nav-text {
    display: flex;
  }
  
  .nav-text a {
    text-decoration: none;
    color:rgb(166, 201, 207);
    font-size: 16px;
    width: 95%;
    height: 100%;
    display: flex;
    margin-left: 0%;
    margin-top: 1ch;
    margin-right: 1ch;
    
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;

  }
  
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
  .font{
    color: white;
  }
  .font-move{
      margin-left: 10ch;
  }
  .font-stay{
      margin-left: 2ch;
  }
  .icon{
    height: 15px;
    margin-top: 1ch;
    margin-bottom: 1ch;
     
  }
  .logo1{
      margin-left: 4ch;
      margin-top:0.3ch;
      margin-bottom: 0.3ch;
      height: 50px;
  }
  .logo2{
    margin-left: 35ch;
    margin-top:0.3ch;
    margin-bottom: 0.3ch;
    height: 50px;
    width:150px;
}
  .div_with_logo{
    display: flex;
    background-color:rgb(105, 91, 233);
    height:60px;

  }
  .heading{
     /* margin-left: 28ch;*/
     margin-left: 17ch;
      height: 30px;
      margin-top:0.3ch;
      color: cornsilk;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-size: 25px;
      margin-bottom: 0.3ch;
      margin-top: 0%;
  }
  .nav_on_active{
      margin-left: 250px;
      background-color: darkcyan;
      height: 35px;

  }
  .nav_normal{
      margin-left: 35px;
      background-color: darkcyan;
      height:35px;
    
  }
  .short_side_bar{
    height: 100%;
    background-color:rgb(16, 19, 43);
    position:absolute;
    width: 35px;
  }
  .short_side_bar_disable{
    width:0%;
    height:0%;
  }
  .div_on_top_in_sidebar{
    background-color:rgb(226, 221, 151);
    position: fixed;
    height: 35px;
    width: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor:pointer;
  }
  .div_on_top_in_sidebar_expand{
    background-color: rgb(226, 221, 151);
    position:fixed;
    height: 50px;
    width:250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .topic_heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 1ch;
    margin-bottom: 1ch;
    margin-left:2ch;
    margin-right: 2ch;
    font-weight: 700;
  }
  .topic_heading_disable{
    display: none;
  }
  .icons_in_sidebar{
    margin-left: 0%;
    margin-top: 1ch;
    margin-bottom: 1ch;
    margin-right: 1ch;
  
  }
  .div_containing_icons{
    margin-top: 4ch;
  }
 .disable_dropdown{
   display: none;
 }
 
 .active{
   background-color: rgb(204, 191, 186);
 }
 .display_none{
   display: none;
 }
 .expand{
   display: flex;
   width: 100px;
 }
 .expand_sub{
   color: white;
 }
 .string{
   color: white;
 }
 