.navbar {
    height: 45px;
    display: flex;
    justify-content:left;
    align-items: center;
  }
  
  .menu-bars {
    font-size: 2rem;
    background: none;
    text-align: center;
  
  }
  
  .nav-menu1 {
    background-color:rgb(194, 213, 215);
    width: 250px;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top:0;
    left: -100%;
    transition: 850ms;
      
  }
  
  .nav-menu1.active {
    left: 0;
    background-color:rgb(234, 245, 247);
    

    margin-top: 8.35%;
  }
  
  .nav-text {
    display: flex;
  }
  
  .nav-text a {
    text-decoration: none;
    color:rgb(166, 201, 207);
    font-size: 16px;
    width: 95%;
    height: 100%;
    display: flex;
    margin-left: 0%;
    margin-top: 1ch;
    margin-right: 1ch;
    
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;
    background-color:rgb(234, 245, 247);

  }
  
  .navbar-toggle {
    background-color:white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
  .font{
    color: white;
  }
  .font-move{
      margin-left: 10ch;
  }
  .font-stay{
      margin-left: 2ch;
  }
  .icon{
    height: 15px;
    margin-top: 1ch;
    margin-bottom: 1ch;
    margin-left: 1ch;
     
  }
  .logo_one{
      margin-left: 1ch;
      margin-top:1ch;
      margin-bottom: 0.3ch;
      height: 50px;
      cursor: pointer;
      /*changed here*/
      border-radius: 0.7ch;
     border:solid 1px green;
      box-shadow: 3px 3px 3px grey;

  
     
  }
  .logo_one:hover{
    box-shadow: 4px 4px 4px 4px grey;
  }
  .logo_two{
    margin-left: 30ch;
    margin-top:1ch;
    margin-bottom: 0.3ch;
    height: 50px;
    width: 150px;
    cursor: pointer;
    /*changed here*/
    border-radius: 0.7ch;
    border:solid 1px green;
    box-shadow: 3px 3px 3px grey;

    
}
.logo_two:hover{
  box-shadow: 4px 4px 4px 4px grey;
}
.logo3{
  margin-left: 30ch;
  margin-top:0.3ch;
  margin-bottom: 0.3ch;
  height: 50px;
  width:150px;
  cursor: pointer;
}
  .div_with_logo1{
    display: flex;
    /*background-color:rgb(105, 91, 233);*/
    /* background-color:#EAE7DC; */
    background-color:rgb(234, 245, 247);
    
    height:5%;
    width: 100%;

  }
  body{
    background-color:white;

  }
  .heading{
     /* margin-left: 28ch;*/
     margin-left: 17ch;
      height: 30px;
      margin-top:0.3ch;
      color: cornssilk;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-size: 25px;
      margin-bottom: 0.3ch;
      margin-top: 0%;
  }
  .heading1{
    /* margin-left: 28ch;*/
    margin-left: 22.5ch;
     
     margin-top:0.3ch;
     /* color:rgb(14, 119, 14); */
     color:#232f4b;
     font-family:Georgia, 'Times New Roman', Times, serif;
     font-size: 1.5rem;
     margin-bottom: 0.3ch;
     margin-top: 0.5ch;
     cursor: pointer;
     text-align: center;
     font-weight:700px;
    
 }
  .nav_on_active1{
      margin-left: 250px;
      height: 2px;
      /*changed here*/
      background-color:rgb(14, 119, 14);

  }
  .nav_normal{
      margin-left: 35px;
      background-color:white;
      height:35px;
    
  }
  .short_side_bar1{
    height: 100%;
    background-color:yellow;
    position:absolute;
    width: 35px;

  }
  .inactive{
    background-color:white;
  }
  .active{
    background-color:white;
  }
  .short_side_bar_disable1{
    width:0%;
    height:0%;
  }
  .div_on_top_in_sidebar{
    background-color:rgb(226, 221, 151);
    position: absolute;
    height:100px;
    width: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor:pointer;
  }
  .div_on_top_in_sidebar_expand1{
    /* background-color:white; */
    position:absolute;
    height:54px;
    width:250px;
    background-color:rgb(207, 231, 236);

    font-family: Georgia, 'Times New Roman', Times, serif;
    /* box-shadow: 2px 2px 2px 2px green; */
    
    


  }
  .topic_heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    text-align: center;
    padding-top: 0.5ch;
    color: green;
    
  
  }
  .topic_heading_disable{
    display: none;
  }
  .icons_in_sidebar{
    margin-left: 0%;
    margin-top: 1ch;
    margin-bottom: 1ch;
    margin-right: 1ch;
  
  }
  .div_containing_icons{
    margin-top: 4ch;
  }
 .disable_dropdown{
   display: none;
 }
 
 
 .display_none{
   display: none;
 }
 .expand{
   display: flex;
   width: 100px;
 }
 .expand_sub{
   color: white;
 }
 .string{
   color: white;
 }
 .main_heading{
   background:rgb(207, 231, 236);
   font-weight: 700;
   /* color-scheme: ; */
   /*color:rgb(14, 119, 14);*/
   /* color: #D8C3A5; */
   /* background-color: #D8C3A5; */
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
   

  
   
 }
 .display_flex{
   display: flex;
 }
.name_below_logo{
  font-size: 0.7rem;
  /* /*color:white; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: 700px;
  cursor: pointer;
  /* color:rgb(45, 105, 45); */
  font-weight: 900;
}
@media screen and (max-width: 600px) {
  .name_below_logo{
      font-size: 0.5rem;
  }
  .heading1{
    font-size: 0.7rem;
  }
  .div_with_logo1{
    height:2%;
  }
}

.name_below_logo_two{
  margin-left: 31ch;
  font-size: 13px;
  color:rgb(45, 105, 45);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  cursor: pointer;
  font-weight: 900;
}

.sidebar_heading{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-top: 1ch;
  padding-left: 2ch;
  
}
.main_section{
  color:green;
  text-decoration: none;
}
.icon_angle{
  margin-top: 0.3ch;
  margin-right:1ch;
}